
{% extends "example/base.html" %}

{% load static %}

{% block body %}

<div class="top-content">
    <div class="container">
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                {% for books in rec_books %}
                    
                {% if forloop.first %}
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                        <div class="card" style="width: 15rem;">
                            <img class="card-img-top" src="{{books.imageURL}}" alt="Card image cap"
                                style="width:200; height:300;">
                            <div class="card-body">
                                <h5 class="card-title">{{books.bookTitle}}</h5>
                                <p class="card-text">By {{books.bookAuthor}} </p>
                                <a href= "{% url 'detail' books.ISBN %} "> More </a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="width: 15rem;">
                            <img class="card-img-top" src="{{books.imageURL}}" alt="Card image cap"
                                style="width:200; height:300;">
                            <div class="card-body">
                                <h5 class="card-title">{{books.bookTitle}}</h5>
                                <p class="card-text">By {{books.bookAuthor}}</p>
                                <a href= "{% url 'detail' books.ISBN %} "> More </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
               

                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}

    <script src="main.js"></script>

{% endblock %}


{% block addBook %}
    {% if shopkeeper == 'yes' %}
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal" > Add Book </a>
    </li>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Book</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'index' %}" method="POST" class="form" >
                    <div class="form-group">
                        <label for="exampleFormControlInput0">Book Photo </label>
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' name="Image-URL-L" id="imageUpload" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {% csrf_token %}
                        <label for="exampleFormControlInput1">Book Name</label>
                        <input type="text" class="form-control" name="Book-Title" id="exampleFormControlInput1"
                            placeholder="">
                            <label for="exampleFormControlInput1">Author</label>
                        <input type="text" class="form-control" name="Book-Author" id="exampleFormControlInput1"
                            placeholder="">
                            <label for="exampleFormControlInput1">ISBN</label>
                        <input type="text" class="form-control" name="ISBN" id="exampleFormControlInput1"
                            placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Genre</label>
                        <select class="form-control" name="genre" id="exampleFormControlSelect1">
                            <option>Fiction</option>
                            <option>Science Fiction</option>
                            <option>Comedy</option>
                            <option>Horror</option>
                            <option>Non-fiction</option>
                        </select>
                    </div>
                   
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                
            </div>
        </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
