{% extends "example/base.html" %}
{% load static %}

{% block body %}

    <h1>{{ searchString}}</h1>

    <div class="container searchResult">
        
        <div class="grid">

            {% for books in searchResult %}
            <div class="cell">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top responsive-image" src="{{books.imageURL}}" alt="Card image cap"
                            style="width:200; height:300;">
                        <div class="card-body">
                            <h6 class="card-title">{{books.bookTitle}}</h6>
                            <p class="card-text" style="font-style: italic;">By {{books.bookAuthor}} </p>
                            <a href="{% url 'detail' books.ISBN %} "> More </a>
                        </div>
                    </div>


                <!-- <div style="background-color: gray;" >  
                    <img src="{{ books.imageURL }}"
                        class="responsive-image" style="width:100%; height:500px;" />
                    <h4> {{ books.bookTitle }} <h4>
                </div> -->
            </div>
            {% endfor %}

        </div>
 
    </div>

{% endblock %}